/* BODY*/
body{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

/* IMAGENS*/
.imagem{
    margin-top: 20px;
    text-align: center;
    
}



/* CABEÇALHO*/

.cabecalho{
    padding: 10px 5px;
    background-color: rgba(255, 192, 203, 0.623);
    text-align: center;

}

.cabecalho .logo img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-align: center;
    
}   





.cabecalho nav ul li a:hover{
    font-weight: bold;
}
.cabecalho nav ul li a{
    color: whitesmoke;
    background-color: rgba(199, 20, 154, 0.089);
    padding: 0px 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 0.1px black;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho nav ul li {
    
    padding: 2px;
   
}

/*O que é historia*/

main{
    background-color: rgba(255, 255, 255, 0.795);
    width: 483px;
    margin: auto;
    padding: 30px;
    
}

strong{
    font-weight: bold;
}

.historia p{
    margin: 20px 0px;

}

.historia h1{
    text-align: center;
}

/*Sobre Lofi*/

 h2{
    margin-top: 25px;

}

 p{
    margin-top: 20px;
}
/* referencias aside */
.referencia{
    background-color: rgb(255, 255, 255);
    width: 483px;
    margin: auto;
    padding: 30px;
   text-align: center;
}
.referencia h1{
   text-align: center;
}
.referencia ul li a {
    text-decoration: underline;
}
.referencia ul li{
    margin-top: 10px;
}

.referencia ul li a:hover {
    font-weight: bold;

}





/* Rodapé */

  .rodape{
    text-align: center;
    font-size: small;
}

.rodape h3 a:hover{
        font-weight: bold;
}